### steps
1. Create an sample SQL database
2. performing SQL window on database

In [4]:
import mysql.connector
from mysql.connector import Error

In [3]:
mysql.connector.connect(host='localhost', database='mysql',
                       user='root', password='')