### steps
1. Create an sample SQL database
2. performing SQL window on database

In [8]:
import sqlite3
from sqlite3 import Error

In [14]:
#Create an table employee salary in sqlite database
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
            
    return conn
def create_employee_table(conn, employees_salary):
    """
    Create a new task
    :param conn:
    :param employees:
    :return:
    """
    sql = '''INSERT INTO employees_salary(employee_id, full_name, department, salary)
            VALUES(?,?,?,?)'''
    cur = conn.cursor()
    cur.execute(sql, employees_salary)
    conn.commit()
    return cur.lastrowid

def main():
    database = r"/Users/hople/Desktop/Bootcamp_practices/SQL_window_function/sql_window.db"
    
    #create a database connection
    conn = create_connection(database)
    with conn:
        task_1 = (100, 'Mary Johns', 'SALES',1000.00);
        #create employees table
        create_employee_table(conn, task_1)

if __name__=='__main__':
    main()

OperationalError: no such table: employees_salary

In [13]:
#        (101, 'Sean Moldy', 'IT', 1500.00),
             #     (102, 'Peter Dugan', 'SALES', 2000.00),
             #     (103, 'LIlian Penn', 'SALES', 1700.00),
             #     (104, 'Milton Kowarsky', 'IT', 1800.00),
             #     (105, 'Mareen Bisset', 'ACCOUNTS', 1200.00),
             #     (106, 'Airton Graue', 'ACCOUNTS', 1100.00),
              #    (107, 'Antony Therma', 'DATA', 2000.00),
              #    (108, 'Mevra Tharno', 'IT', 2200.00)]