### steps
1. Create an sample SQL database
2. performing SQL window on database

In [3]:
import sqlite3
from sqlite3 import connect
from sqlite3 import Error

In [ ]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        except Error as e:
            print(e)
            
    return conn
def create_employee_table(conn, input_tasks):
    """
    Create a new task
    :param conn:
    :param task:
    :return:
    """
    sql = '''INSERT INTO employees_salary(employee_id, full_name, department, salary)
            VALUES(?,?,?,?)'''
    cur = conn.cursor()
    cur.execute(sql, employees_salary)
    conn.commit()
    return cur.lastrowid

def main():
    database = r"