### steps
1. Create an sample SQL database
2. performing SQL window on database

In [3]:
import sqlite3
from sqlite3 import Error

In [7]:
#Create table train schedule
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
    return conn

def create_station_table(conn, stations):
    """
    Create a new task
    :param conn:
    :param employees:
    :return:
    """
    sql_station_table = '''
                        CREATE TABLE IF NOT EXISTS stations_schedule
                        (
                        [Train_id] INTERGER,
                        [Station] TEXT,
                        [Time] TIME
                        )
                        ;'''
                        #INTERGER PRIMARY KEY need to be unique
    sql = '''
            INSERT INTO stations_schedule(Train_id, Station, Time)
            VALUES(?,?,?)
            ;'''
    cur = conn.cursor()
    cur.execute(sql_station_table)
    cur.executemany(sql, stations)
    conn.commit()
    #return cur.lastrowid
    
def main():
    database = r"/Users/hople/Desktop/Bootcamp_practices/SQL_window_function/sql_window_lead.bd"
    
    conn = create_connection(database)
    with conn:
        task = [(110, 'San Francisco', "10:00:00"),
                (110, 'Redwood City', "10:54:00"),
                (110, 'Palo Alto', "11:02:00"),
                (110, 'San Jose', "12:35:00"),
                (120, 'San Francisco', "11:00:00"),
                (120, 'Redwood City', "Non Stop"),
                (120, 'Palo Alto', "12:49:00"),
                (120, 'San Jose', "13:30:00"),
                ]
        #create station table with query task
        create_station_table(conn, task)

if __name__=='__main__':
    main()

In [8]:
from sqlite3 import connect
import pandas as pd

In [ ]:
#connect to database