In [1]:
import mysql.connector
from mysql.connector import Error

In [4]:
def create_msql_database(name_database):
    """Function create MYSQL database"""
    path_to_database = f"./{name_database}"

    mydb = mysql.connector.connect(host='localhost',
                                      user='root',
                                      password='')
    
    mycursor = mydb.cursor()
    
    mycursor.execute(f"CREATE DATABASE {path_to_database}")

def connect_msql_database(database):
    """
    Function connect to MYSQL database
    """
    conn = None
    path_to_database = f"./{database}"
    try:
        conn = mysql.connector.connect(host='localhost',
                                       database=f'{path_to_database}',
                                       user='root',
                                       password='')
        if conn.is_connected():
            print(f'Connected to MYSQL {database}')
    
    except Error as e:
        print(e)

    finally:
        if conn is not None and conn.is_connected():
            conn.close()


if __name__ == '__main__':
    create_msql_database("python_mysql")
    connect_msql_database("python_mysql")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near './python_mysql' at line 1