### steps
1. Create an sample SQL database
2. performing SQL query on database

In [1]:
import sqlite3
from sqlite3 import Error

In [6]:
#Create an table employee salary in sqlite database
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
            
    return conn
def create_revenue_table(conn, revenue):
    """
    Create a new task
    :param conn:
    :param revenue:
    :return:
    """
    sql_revenue_table = '''CREATE TABLE IF NOT EXISTS orders
                            ([order_id] int,
                            [channel] varchar(11),
                            [date] datetime,
                            [month] int,
                            [revenue] int);
                            '''
    sql = '''INSERT INTO orders(order_id, channel, date, month, revenue)
            VALUES(?,?,?,?,?);'''
    cur = conn.cursor()
    cur.execute(sql_revenue_table)
    cur.executemany(sql, revenue)
    conn.commit()
    return cur.lastrowid

def main():
    database = r"./sql_revenue.db"
    
    
    #create a database connection
    conn = create_connection(database)
    with conn:
        task_1 = [(1,"online","2018-09-01",9,100),
                    (2,"online","2018-09-03",9,125),
                    (3,"in_store","2018-10-11",10,200),
                    (4,"in_store","2018-08-21",8,80),
                    (5,"online","2018-08-13",8,200),
                     (6,"online","2018-09-04",9,100),
                    (7,"online","2018-09-06",9,125),
                    (8,"in_store","2018-10-1",10,200),
                    (9,"in_store","2018-08-1",8,80),
                    (10,"online","2018-08-3",8,200)]
        #create revenue table
        create_revenue_table(conn, task_1)

if __name__=='__main__':
    main()

In [5]:
from sqlite3 import connect
import pandas as pd

In [7]:
#test database created above
#connect to database
conn = connect('sql_revenue.db')
pd.read_sql("""SELECT *
                FROM orders
                """, conn)

   order_id   channel        date  month  revenue
0         1    online  2018-09-01      9      100
1         2    online  2018-09-03      9      125
2         3  in_store  2018-10-11     10      200
3         4  in_store  2018-08-21      8       80
4         5    online  2018-08-13      8      200

In [ ]:
#revenue growth = (current month's revenue-prior month's revenue)/prior month's revenue
#1. set up a table to aggregate revenue by month
#2. 

#connect to databaase
conn = connect('sql_revenue.db')
monthly_revenue_q = '''
SELECT
                RANK() OVER (PARTITION BY department ORDER BY salary DESC)
                        AS dept_ranking,
                department,
                employee_id,
                full_name,
                salary
FROM employees_salary;
'''
# return the ranking position base on salary within department
pd.read_sql(rank_department_query, conn)