### steps
1. Create an sample SQL database
2. performing SQL query on database

In [1]:
import sqlite3
from sqlite3 import Error

In [4]:
#Create an table employee salary in sqlite database
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
            
    return conn
def create_revenue_table(conn, revenue):
    """
    Create a new task
    :param conn:
    :param revenue:
    :return:
    """
    sql_revenue_table = '''CREATE TABLE IF NOT EXISTS orders
                            ([order_id] int,
                            [channel] varchar(11),
                            [date] datetime,
                            [month] int,
                            [revenue] int);
                            '''
    sql = '''INSERT INTO orders(order_id, channel, date, month, revenue)
            VALUES(?,?,?,?,?);'''
    cur = conn.cursor()
    cur.execute(sql_revenue_table)
    cur.executemany(sql, revenue)
    conn.commit()
    return cur.lastrowid

def main():
    database = r"../sql_revenue.db"
    
    
    #create a database connection
    conn = create_connection(database)
    with conn:
        task_1 = [(1,"online","2018-09-01",9,100),
                    (2,"online","2018-09-03",9,125),
                    (3,"in_store","2018-10-11",10,200),
                    (4,"in_store","2018-08-21",8,80),
                    (5,"online","2018-08-13",8,200)]
        #create revenue table
        create_revenue_table(conn, task_1)

if __name__=='__main__':
    main()

In [ ]:
#test database created above